/* .nav-bar {
    display: inline-block;
    width: 100%;
    padding: 0;
    position: fixed;
    background: aqua;
} */

.nav-item {
    display: inline-block;
}

.nav-right {
    float: right;
}

.nav-text {
    color: aliceblue
}