.title{
  font-size: 40px;
  font-style: bold;
  border-bottom-style: groove;
  border-bottom-width:5px;
  padding-bottom:15px;
}
.uni_info {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  grid-gap: 20px 20px;
  width: clamp(320px, 50%, 50%);
  padding: 24px;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
}
.notice, .photo-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.photo-box {
  flex: 3 1 30ch;
  height: calc(282px + 5vw);
  overflow: hidden;
}
.notice {
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
}
.notice-content {
  padding: 16px 32px;
  flex: 4 1 40ch;
}
.notice-title {
  margin: 0;
  font-size: clamp(1.4em, 2.1vw, 2.1em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
